.QRContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 450px;
  padding: 24px;
  border-radius: 24px;
  border: 2px solid rgba(135, 96, 147, 0.362);
  background-color: rgba(70, 41, 80, 0.245);
}

.QR-title{
  margin: 12px 6px;
}

.QRCode{
  height: 300px;
  width: 300px;
  background-color: white;
  margin: 12px;
  padding: 24px;
}

.description-text{
  margin: 12px 0px;
  padding: 0px 12px;
  text-align: center;
  color: rgb(153, 153, 153);
}

@media screen and (max-width: 450px){
  .QRContainer{
    width: 400px;
  }
}

@media screen and (max-width: 400px){
  .QRContainer{
    width: 365px;
  }
}